// Colors
$mainColor: #1f2324;
$secondaryColor: #1648a8;
$black: #000000;
$grey: #969696;
$greyOpacity: #7e869e40;
$lightGrey: #dbdbdb;
$lightGreyOpacity: #e5e5e5;
$lightBlue: #477ada;
$darkBlue: #2756b0;
$white: #ffffff;
$darkWhite: #f3f3f3;
$colorYellow: #ffd230;
$colorYellowHover: #f4bf00;

// Font sizes
$xs: 0.75rem;
$sm: 0.875rem;
$md: 1rem;
$lg: 1.125rem;
$xl: 2rem;

// Breakpoints
$smBreakpoint: 767.98px;
$mdBreakpoint: 991.98px;
