.footer {
  padding: torem(97) 0 torem(90);

  @include sm-breakpoint {
    padding: torem(53) 0 torem(28);
  }

  .wrapper {
    display: grid;
    grid-template-columns: torem(135) auto torem(180);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: clamp(torem(60), 10vw, torem(144));

    p {
      margin: 0;
    }

    @include sm-breakpoint {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, auto);
      justify-items: center;
      text-align: center;
    }
  }

  &__logo {
    grid-column: 1/2;
    grid-row: 1/2;

    @include sm-breakpoint {
      margin-bottom: torem(52);
    }
  }

  &__social {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    gap: torem(37);

    img {
      width: torem(20);
      height: torem(20);
    }

    @include sm-breakpoint {
      grid-column: 1/-1;
      grid-row: 4/5;
      margin-bottom: torem(15);
    }
  }

  &__copyright {
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: "Montserrat-Medium";
    font-size: $xs;

    @include sm-breakpoint {
      grid-column: 1/-1;
      grid-row: 5/6;
    }
  }

  &__address {
    grid-column: 3/4;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    gap: torem(24);
    font-size: $xs;
    color: $grey;

    > a {
      font-size: $sm;
      color: $mainColor;

      &:first-child {
        display: flex;
        align-items: center;
        font-family: "Montserrat-Medium";
        font-size: $md;

        img {
          width: torem(24);
          height: torem(24);
          margin-right: torem(10);
        }
      }

      &:last-of-type {
        display: none;
      }
    }

    @include sm-breakpoint {
      grid-column: 1/-1;
      grid-row: 3/4;
      align-items: center;
      gap: torem(15);
      margin-bottom: torem(29);

      > a {
        &:first-child {
          margin-bottom: torem(20);
        }

        &:last-of-type {
          display: block;
          margin-top: torem(14);
        }
      }
    }
  }

  &__nav {
    grid-column: 2/3;
    grid-row: 1/-1;
    display: flex;
    justify-content: space-between;
    gap: torem(20);
    font-size: $sm;

    ul {
      display: flex;
      flex-direction: column;
      gap: torem(27);
    }

    @include sm-breakpoint {
      grid-column: 1/-1;
      grid-row: 2/3;
      flex-direction: column;
      margin-bottom: torem(48);

      ul {
        gap: torem(20);
      }
    }
  }
}
